* {
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    font-size: 50px;
}

.num {
    border: none;
    background-color: lightgray;
    font-size: 50px;
    font-family: inherit;
    width: 100px;
    text-align: center;
    margin-left: 7px;
}

.num:focus {
    outline: none;
}

.submit {
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 15px 16px;
    border: none;
    color: #fff;
    background: gray;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.submit:hover {
    background-color: lightgray;
    color: gray;
}

.submit:active {
    transform: scale(.95);
}

a {
    text-decoration: none;
    display: inline-block;
    margin-left: 35%;
    margin-top: 40px;
    padding: 15px 16px;
    color: #fff;
    background: gray;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    font-family: tahoma;
}